.button {

  


    .button-text.is-1 {
      transition:transform 0.3s ease-in-out , opacity 0.2s ease-in-out;
    }
    .button-text.is-2 {
      transition:transform 0.3s ease-in-out,  opacity 0.5s ease-in-out;
    }

  
    &:hover {

      .button-text {
        &.is-1 {
          opacity: 0;
          transform: translateY(-100%);
        }
  
        &.is-2{
          opacity: 1;
          transform: translateY(0%);
        }
      }


    }
  }