@use './components/button.scss';


[img-anim] {
    opacity: 0;
  }



[founder-img-wrap = "circle-gold"], [venture-img-wrap = "circle-gold"], [arrow-img-wrap='arrow-circle-gold']{
    opacity: 0;
}  




@media screen and (min-width: 992px) {
  .venture_img-contain {
    will-change: transform, opacity;
    transform: translateZ(0);
  }
  
  .venture_img-wrap,
  .venture_img-wrap img {
    will-change: transform, opacity;
    transform: translateZ(0);
    backface-visibility: hidden;
  }
  
  
  .founders_img-contain {
    will-change: transform, opacity;
    transform: translateZ(0);
  }
  
  .founders_img-wrap,
  .founders_img-wrap img {
    will-change: transform, opacity;
    transform: translateZ(0);
    backface-visibility: hidden;
  }


  [arrow-circle] {
    will-change: transform, opacity;
    transform: translateZ(0);
  }
  
  .arrow-circle_img-wrap,
  .arrow-circle_img-wrap img {
    will-change: transform, opacity;
    transform: translateZ(0);
    backface-visibility: hidden;
  }

  .about-title {
    display: inline-block;
    background: radial-gradient(circle at 80% 80%, #5D5B5C 0%, #B7B6B6 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    transition: background 0.2s ease-out;
  }
  

  .hero_circle-about-contain{
    opacity: 0;
  }


}



@media screen and (max-width: 991px) {
  .about-title {
    display: inline-block;
    background: radial-gradient(circle at 50% 50%, #2f2f2f 0%, #B7B6B6 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    transition: background 0.2s ease-out;
  }
  

  .hero_circle-about-contain{
    opacity: 0.7;
  }
}
  



