@use './components/button.scss';


[img-anim] {
    opacity: 0;
  }



[founder-img-wrap = "circle-gold"], [venture-img-wrap = "circle-gold"], [arrow-img-wrap='arrow-circle-gold']{
    opacity: 0;
}  

.button-swiper.disabled{
  opacity: .5;
  pointer-events: none;
}




@media screen and (min-width: 992px) {
  .venture_img-contain {
    will-change: transform, opacity;
    transform: translateZ(0);
  }
  
  .venture_img-wrap,
  .venture_img-wrap img {
    will-change: transform, opacity;
    transform: translateZ(0);
    backface-visibility: hidden;
  }
  
  
  .founders_img-contain {
    will-change: transform, opacity;
    transform: translateZ(0);
  }
  
  .founders_img-wrap,
  .founders_img-wrap img {
    will-change: transform, opacity;
    transform: translateZ(0);
    backface-visibility: hidden;
  }


  [arrow-circle] {
    will-change: transform, opacity;
    transform: translateZ(0);
  }
  
  .arrow-circle_img-wrap,
  .arrow-circle_img-wrap img {
    will-change: transform, opacity;
    transform: translateZ(0);
    backface-visibility: hidden;
  }

  .about-title {
    display: inline-block;
    background: radial-gradient(circle at 80% 80%, #5D5B5C 0%, #B7B6B6 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    transition: background 0.2s ease-out;
  }
  

  .hero_circle-about-contain{
    opacity: 0;
  }

  .hero_paragraphe-wrap.is-about{
    opacity: 0;
    transform: translateY(1.5rem);
  }

  .about_img-wrap{
    will-change: transform, opacity;
    transform: translateZ(0);
    backface-visibility: hidden;
  }
  .about_img-wrap img {
    will-change: transform, opacity;
    transform: translateZ(0);
    backface-visibility: hidden;
  }



  // ANIMATION HOME PAGE

  [hero-element="title"], [hero-element="paragraphe"], [hero-element="rosace"] {
    opacity: 0;
    transform: translateY(1.5rem);
  }

  [hero-element="circle-white"]{
    transform: translateZ(0);
    transform: translateY(10rem);
    opacity: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    will-change: transform, opacity;

  }



  [hero-element="circle-dark"] {
    transform: translateZ(0);
    -webkit-transform: translateZ(0); 
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    will-change: transform, opacity;
  }

  [home-tabs="circle-before"],
  [home-tabs="circle-after"] {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    will-change: transform, opacity;
  }
  
  [home-tabs="circle-after"] {
    will-change: transform, opacity, box-shadow;
  }
  

[home-slider="rayon"]{

  top: 50%;
  left: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%) scale(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  will-change: transform;
}


  

  .text-reveal_circle-target-flip{
    transform: translateZ(0);
    -webkit-transform: translateZ(0); 
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

  }

  .home-tabs_circle-title-wrap{
    opacity: 0;
    transform: translateY(1rem);
  }

  .home-tabs_circle-paragraphe-wrap{
    opacity: 0;
    transform: translateX(1.5rem);
  }

  .home-tabs_item-wrap{
    opacity: 0;
    transform: translateY(3rem);
  }


  .home-slider_title-wrap{
    opacity: 0;
    transform: translateY(1rem);
  }



  .home-slider_container{
    opacity: 0;
    transform: translateX(2rem);
  }





}



@media screen and (max-width: 991px) {
  .about-title {
    display: inline-block;
    background: radial-gradient(circle at 50% 50%, #2f2f2f 0%, #B7B6B6 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    transition: background 0.2s ease-out;
  }
  

  .hero_circle-about-contain{
    opacity: 1;
  }
}
  



