@use './components/button.scss';


[img-anim] {
    opacity: 0;
    transition: opacity 0.6s ease;
  }



[founder-img-wrap = "circle-gold"], [venture-img-wrap = "circle-gold"], [arrow-img-wrap='arrow-circle-gold']{
    opacity: 0;
}  




@media screen and (min-width: 992px) {
  .venture_img-contain {
    will-change: transform, opacity;
    transform: translateZ(0);
  }
  
  .venture_img-wrap,
  .venture_img-wrap img {
    will-change: transform, opacity;
    transform: translateZ(0);
    backface-visibility: hidden;
  }
  
  
  .founders_img-contain {
    will-change: transform, opacity;
    transform: translateZ(0);
  }
  
  .founders_img-wrap,
  .founders_img-wrap img {
    will-change: transform, opacity;
    transform: translateZ(0);
    backface-visibility: hidden;
  }


  [arrow-circle] {
    will-change: transform, opacity;
    transform: translateZ(0);
  }
  
  .arrow-circle_img-wrap,
  .arrow-circle_img-wrap img {
    will-change: transform, opacity;
    transform: translateZ(0);
    backface-visibility: hidden;
  }




}
  



